.parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  width: 40px;
  top: 500px;
  left: 600;
}
.image2 {
  position: absolute;
  width: 40px;
  top: 270px;
  left: 800px;
}
.image3 {
  position: absolute;
  width: 40px;
  top: 165px;
  left: 1275px;
}
.image4 {
  width: 100px;
  position: absolute;
  width: 40px;
  top: 450px;
  left: 1200px;
}
.image5 {
  position: absolute;
  width: 40px;
  top: 525px;
  left: 1100px;
}
.image6 {
  position: absolute;
  width: 40px;
  top: 300px;
  left: 985px;
}
.image7 {
  position: absolute;
  width: 40px;
  top: 260px;
  left: 575px;
}
.image8 {
  position: absolute;
  width: 40px;
  top: 120px;
  left: 730px;
}
.image9 {
  position: absolute;
  width: 40px;
  top: 70px;
  left: 850px;
}
.image10 {
  position: absolute;
  width: 40px;
  top: 82px;
  left: 930px;
}
.image11 {
  position: absolute;
  width: 40px;
  top: 95px;
  left: 1030px;
}
.image12 {
  position: absolute;
  width: 40px;
  top: 423px;
  left: 982px;
}
.image13 {
  position: absolute;
  width: 40px;
  top: 284px;
  left: 948px;
}
.image14 {
  position: absolute;
  width: 40px;
  top: 450px;
  left: 1093px;
}
.image15 {
  position: absolute;
  width: 40px;
  top: 333px;
  left: 1259px;
}
.image16 {
  position: absolute;
  width: 40px;
  top: 134px;
  left: 785px;
}
.image17 {
  position: absolute;
  width: 40px;
  top: 615px;
  left: 693px;
}
.image18 {
  position: absolute;
  width: 40px;
  top: 585px;
  left: 635px;
}
.image19 {
  position: absolute;
  width: 40px;
  top: 60px;
  left: 1000px;
}
.image20 {
  position: absolute;
  width: 40px;
  top: 42px;
  left: 1082px;
}
.image21 {
  position: absolute;
  width: 40px;
  top: 600px;
  left: 969px;
}
.image22 {
  position: absolute;
  width: 40px;
  top: 615px;
  left: 920px;
}
.image23 {
  position: absolute;
  width: 40px;
  top: 638px;
  left: 897px;
}
.image24 {
  position: absolute;
  width: 40px;
  top: 82px;
  left: 1123px;
}
.image25 {
  position: absolute;
  width: 40px;
  top: 203px;
  left: 1163px;
}
.image26 {
  position: absolute;
  width: 40px;
  top: 235px;
  left: 1142px;
}
.image27 {
  position: absolute;
  width: 40px;
  top: 238px;
  left: 1220px;
}
.image28 {
  position: absolute;
  width: 40px;
  top: 338px;
  left: 1120px;
}
.image29 {
  position: absolute;
  width: 40px;
  top: 590px;
  left: 589px;
}
.image30 {
  position: absolute;
  width: 40px;
  top: 72px;
  left: 899px;
}
.image31 {
  position: absolute;
  width: 40px;
  top: 160px;
  left: 960px;
}
.image32 {
  position: absolute;
  width: 40px;
  top: 655px;
  left: 986px;
}
.image33 {
  position: absolute;
  width: 40px;
  top: 400px;
  left: 1230px;
}
.image34 {
  position: absolute;
  width: 40px;
  top: 245px;
  left: 605px;
}
.image35 {
  position: absolute;
  width: 40px;
  top: 335px;
  left: 595px;
}
.image36 {
  position: absolute;
  width: 40px;
  top: 165px;
  left: 850px;
}
.image37 {
  position: absolute;
  width: 40px;
  top: 655px;
  left: 825px;
}