.parent {
  position: absolute;
  top: 0;
  left: 0;
}
.image1 {
  position: absolute;
  width: 40px;
  top: 550px;
  left: 600;
}
.image2 {
  position: absolute;
  width: 40px;
  top: 335px;
  left: 800px;
}
.image3 {
  position: absolute;
  width: 40px;
  top: 222px;
  left: 1275px;
}
.image4 {
  position: absolute;
  width: 40px;
  top: 473px;
  left: 1252px;
}
.image5 {
  position: absolute;
  width: 40px;
  top: 538px;
  left: 1100px;
}
.image6 {
  position: absolute;
  width: 40px;
  top: 343px;
  left: 985px;
}
.image7 {
  position: absolute;
  width: 40px;
  top: 462px;
  left: 590px;
}
.image8 {
  position: absolute;
  width: 40px;
  top: 205px;
  left: 730px;
}
.image9 {
  position: absolute;
  width: 40px;
  top: 112px;
  left: 850px;
}
.image10 {
  position: absolute;
  width: 40px;
  top: 101px;
  left: 930px;
}
.image11 {
  position: absolute;
  width: 40px;
  top: 99px;
  left: 1030px;
}
.image12 {
  position: absolute;
  width: 40px;
  top: 443px;
  left: 1005px;
}
.image13 {
  position: absolute;
  width: 40px;
  top: 329px;
  left: 902px;
}
.image14 {
  position: absolute;
  width: 40px;
  top: 462px;
  left: 1118px;
}
.image15 {
  position: absolute;
  width: 40px;
  top: 370px;
  left: 1259px;
}
.image16 {
  position: absolute;
  width: 40px;
  top: 144px;
  left: 798px;
}
.image17 {
  position: absolute;
  width: 40px;
  top: 670px;
  left: 693px;
}
.image18 {
  position: absolute;
  width: 40px;
  top: 585px;
  left: 635px;
}
.image19 {
  position: absolute;
  width: 40px;
  top: 119px;
  left: 1010px;
}
.image20 {
  position: absolute;
  width: 40px;
  top: 151px;
  left: 1082px;
}
.image21 {
  position: absolute;
  width: 40px;
  top: 618px;
  left: 969px;
}
.image22 {
  position: absolute;
  width: 40px;
  top: 615px;
  left: 920px;
}
.image23 {
  position: absolute;
  width: 40px;
  top: 638px;
  left: 897px;
}
.image24 {
  position: absolute;
  width: 40px;
  top: 107px;
  left: 1123px;
}
.image25 {
  position: absolute;
  width: 40px;
  top: 306px;
  left: 1163px;
}
.image26 {
  position: absolute;
  width: 40px;
  top: 235px;
  left: 1050px;
}
.image27 {
  position: absolute;
  width: 40px;
  top: 238px;
  left: 1220px;
}
.image28 {
  position: absolute;
  width: 40px;
  top: 338px;
  left: 1120px;
}
.image29 {
  position: absolute;
  width: 40px;
  top: 590px;
  left: 589px;
}
.image30 {
  position: absolute;
  width: 40px;
  top: 92px;
  left: 899px;
}
.image31 {
  position: absolute;
  width: 40px;
  top: 160px;
  left: 960px;
}
.image32 {
  position: absolute;
  width: 40px;
  top: 655px;
  left: 986px;
}
.image33 {
  position: absolute;
  width: 40px;
  top: 400px;
  left: 1230px;
}
.image34 {
  position: absolute;
  width: 40px;
  top: 309px;
  left: 625px;
}
.image35 {
  position: absolute;
  width: 40px;
  top: 335px;
  left: 595px;
}
.image36 {
  position: absolute;
  width: 40px;
  top: 195px;
  left: 880px;
}
.image37 {
  position: absolute;
  width: 40px;
  top: 692px;
  left: 845px;
}
.image38 {
  position: absolute;
  width: 40px;
  top: 232px;
  left: 942px;
}
.image39 {
  position: absolute;
  width: 40px;
  top: 392px;
  left: 612px;
}
.image40 {
  position: absolute;
  width: 40px;
  top: 382px;
  left: 819px;
}
.image41 {
  position: absolute;
  width: 40px;
  top: 112px;
  left: 1200px;
}
.image42 {
  position: absolute;
  width: 40px;
  top: 694px;
  left: 612px;
}
.image42 {
  position: absolute;
  width: 40px;
  top: 694px;
  left: 612px;
}
.image43 {
  position: absolute;
  width: 40px;
  top: 732px;
  left: 945px;
}
.image44 {
  position: absolute;
  width: 40px;
  top: 632px;
  left: 1084px;
}
.image45 {
  position: absolute;
  width: 40px;
  top: 300px;
  left: 1300px;
}
.image46 {
  position: absolute;
  width: 40px;
  top: 642px;
  left: 650px;
}
.image47 {
  position: absolute;
  width: 40px;
  top: 543px;
  left: 1196px;
}
.image48 {
  position: absolute;
  width: 40px;
  top: 425px;
  left: 1172px;
}
.image49 {
  position: absolute;
  width: 40px;
  top: 215px;
  left: 698px;
}
.image50 {
  position: absolute;
  width: 40px;
  top: 305px;
  left: 722px;
}
.image51 {
  position: absolute;
  width: 40px;
  top: 216px;
  left: 814px;
}
.image52 {
  position: absolute;
  width: 40px;
  top: 748px;
  left: 859px;
}
.image53 {
  position: absolute;
  width: 40px;
  top: 502px;
  left: 985px;
}
.image54 {
  position: absolute;
  width: 40px;
  top: 621px;
  left: 1126px;
}
.image55 {
  position: absolute;
  width: 40px;
  top: 598px;
  left: 1105px;
}
.image56 {
  position: absolute;
  width: 40px;
  top: 489px;
  left: 1215px;
}
.image57 {
  position: absolute;
  width: 40px;
  top: 498px;
  left: 1085px;
}
.image58 {
  position: absolute;
  width: 40px;
  top: 184px;
  left: 1112px;
}
.image59 {
  position: absolute;
  width: 40px;
  top: 136px;
  left: 1145px;
}
.image60 {
  position: absolute;
  width: 40px;
  top: 182px;
  left: 980px;
}
.image61 {
  position: absolute;
  width: 40px;
  top: 165px;
  left: 1028px;
}
.image62 {
  position: absolute;
  width: 40px;
  top: 629px;
  left: 603px;
}
.image63 {
  position: absolute;
  width: 40px;
  top: 675px;
  left: 969px;
}
.image64 {
  position: absolute;
  width: 40px;
  top: 693px;
  left: 902px;
}
.image65 {
  position: absolute;
  width: 40px;
  top: 705px;
  left: 1079px;
}
.image66 {
  position: absolute;
  width: 40px;
  top: 336px;
  left: 867px;
}
.image67 {
  position: absolute;
  width: 40px;
  top: 548px;
  left: 968px;
}
.image68 {
  position: absolute;
  width: 40px;
  top: 300px;
  left: 1218px;
}
.image69 {
  position: absolute;
  width: 40px;
  top: 742px;
  left: 993px;
}
.image70 {
  position: absolute;
  width: 40px;
  top: 372px;
  left: 998px;
}
.image71 {
  position: absolute;
  width: 40px;
  top: 250px;
  left: 998px;
}



